/* Syntax Tailwind v4 : Une seule ligne pour tout importer */
@import "tailwindcss";

/* Définition des variables du Thème (Mode Clair) */
:root {
  --background: #f8fafc; /* slate-50 (Fond très clair) */
  --foreground: #0f172a; /* slate-900 (Texte foncé) */
}

/* Configuration de base */
body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/* Petit fix pour s'assurer que le fond reste blanc sur les grands écrans */
main {
  background-color: #ffffff;
}